server:
  port: 8080
openai:
  api:
    url: https://api.openai.com/v1/chat/completions
    key: APIKEYOPENAI
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?useSSL=false
    username: postgres
    password: 123456
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      client:
        registration:
          auth0:
            client-id: UvbnyKUi7sNzQJAscqx59UHvbnmnuWPn
            client-secret: UshXmhc04xzrVvfEcoYp3LgnltdW7zBxDf0wjGb85tMM0Px5X8IZZdAMjLmiwpVK
            scope:
              - openid
              - profile
              - email
        provider:
          auth0:
            issuer-uri: https://dev-u564vq4dqtozr7z5.us.auth0.com/
